:root {
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #74f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139,200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-title-table:#959799;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
    --background-title-table: #f9fafb;
}

#user-management {

    .p-paginator {
        .p-paginator-current  {
            margin-left: auto;
        }
    }
    .p-progressbar {
        height: 0.5rem;
        background-color: #d8dadc;
        .p-progressbar-value {
            background-color: #607d8b;
        }
    }

    .p-datepicker {
        min-width: 25rem;
        td {
            font-weight: 400;
        }
    }

    .p-datatable.p-datatable-customers {
        .p-datatable-header {
            padding: 1rem;
            text-align: left;
            font-size: 1.5rem;
        }

        .p-paginator {
            padding: 1rem;
        }

        .p-datatable-thead > tr > th {
            text-align: left;
        }

        .p-dropdown-label:not(.p-placeholder) {
            text-transform: uppercase;
        }
    }
    
    .user-info-name {
        display: flex;
        gap: 1rem;
    }

    .role-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .role {
            background: #f2fffd;
            padding: 0.1rem 0.4rem;
            border-radius: 5px;
            color: var(--color-primary);
            border: 1px solid #c1cbf9;
            font-size: 12px;
            width: 100px;

            .circle {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 3px;
            }
        }
    }

    
}

@media screen and (max-width: 1200px) {
    #user-management {
    }
}