#loading-page {
    width: 100wh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #14010f;

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }

    .container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .text {
            animation: change-color 1.5s linear infinite alternate; 

            @keyframes change-color {

                0%{
                    color:#242525;
                }
                100% {
                    color:#fd00ff;
                }
                
            }
        }

        

        .ring {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            position: absolute;
            
            &:nth-child(1) {
                border-bottom: 1rem solid rgb(154 0 255);
                animation: rotate 2s linear infinite;
            }

            &:nth-child(2) {
                border-right: 1rem solid rgb(228 190 255);
                animation: rotate2 2s linear infinite;
            }

            &:nth-child(3) {
                border-top: 1rem solid rgb(183 97 176);
                animation: rotate3 2s linear infinite;
            }

            @keyframes rotate {
                0% {
                    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
                }
                100% {
                    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
                }
            }

            
            @keyframes rotate2 {
                0% {
                    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
                }
                100% {
                    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
                }
            }

            @keyframes rotate3 {
                0% {
                    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
                }
                100% {
                    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
                }
            }
        }


    }

    
}